{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans '我的商店' %}{% endblock %}</title>
    <link href='{% static "css/base.css" %}' rel="stylesheet">
</head>
<body>
    <div id="header">
        <!--
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="languages">
            <p>{% trans "语言" %}</p>
            <ul class="languages">
                {%  for language in languages %}
                    <li>
                        <a href="/{{ language.code }}/"
                           {%  if language.code == LANGUAGE_CODE %} class="selected" {% endif %}>
                            {{ language.name_local }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
                -->
        <a href="/" class="logo">{% trans '我的商店' %}</a>

    </div>
    <div id="subhead">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    {% trans '您的购物车' %}:
                    <a href="{% url 'cart:cart_detail' %}">

                     {{ total_items }}{% trans '件商品' %},￥{{ cart.get_total_price }}

                    </a>
                    {% else %}
                    {% trans '您的购物车是空的' %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>