{% extends 'shop/base.html' %}

{% block title %}
支付宝支付
{% endblock %}

{% block content %}
    <h1>支付宝支付</h1>
    <form action="." id="payment" method="post">
        <div>
            <label for="card-number">订单号</label>
            <input name="braintree_id" class="field" value="{{ braintree_id }}">
        </div>
        <div>
            <label for="card-number">商家账号</label>
            <input  name="app_id" id="card-number" class="field" value="{{ app_id }}">
        </div>
        <div>
            <label for="cvv">支付金额</label>
            <input id="cvv" class="field" value="{{ total_cost }}">
        {% csrf_token %}
        <input type="submit" value="支付">
    </form>

    <!--&lt;!&ndash; 加载客户端需要的组件 &ndash;&gt;-->
    <!--<script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>-->
    <!--&lt;!&ndash;　加载Hosted Field组件 &ndash;&gt;-->
    <!--<script src="https://js.braintreegateway.com/web/3.29.0/js/hostedfields.min.js"></script>-->
    <!--<script>-->
        <!--var form = document.querySelector('#payment');-->
        <!--var submit = document.querySelector('input[type="submit"]');-->

        <!--braintree.client.create({-->
            <!--authorization: '{{ client_token }}'-->
        <!--}, function (clientErr, clientInstance) {-->
            <!--if (clientErr) {-->
                <!--console.error(clientErr);-->
                <!--return;-->
            <!--}-->

            <!--braintree.hostedFields.create({-->
                <!--client: clientInstance,-->
                <!--styles: {-->
                    <!--'input': {'font-size': '13px'},-->
                    <!--'input.invalid': {'color': 'red'},-->
                    <!--'input.valid': {'color': 'green'}-->
                <!--},-->
                <!--fields: {-->
                    <!--number: {selector: '#card-number'},-->
                    <!--cvv: {selector: '#cvv'},-->
                    <!--expirationDate: {selector: '#expiration-date'}-->
                <!--}-->
            <!--}, function (hostedFieldsErr, hostedFieldsInstance) {-->
                <!--if (hostedFieldsErr) {-->
                    <!--console.error(hostedFieldsErr);-->
                    <!--return;-->
                <!--}-->

                <!--submit.removeAttribute('disabled');-->

                <!--form.addEventListener('submit', function (event) {-->
                    <!--event.preventDefault();-->

                    <!--hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {-->
                        <!--if (tokenizeErr) {-->
                            <!--console.error(tokenizeErr);-->
                            <!--return;-->
                        <!--}-->
                        <!--// set nonce to send to the server-->
                        <!--document.getElementById('nonce').value = payload.nonce;-->
                        <!--// submit form-->
                        <!--document.getElementById('payment').submit();-->
                    <!--});-->
                <!--}, false);-->
            <!--});-->
        <!--});-->
  <!--</script>-->


    <!--
    <script>
        var form = documet.querySelector('#payment');
        var submit = documet.querySelector('input[type="submit"]');

        braintree.client.create({
            authorization:'{{ client_token }}'
        },function (clientErr, clientInstance) {
            if (clientErr){
                console.error(clientErr);
                return;
            }

            braintree.hostedFields.create({
                client:clientInstance,
                style:{
                    'input':{'font-size':'13px'},
                    'input.invalid':{'color':'red'},
                    'input.valid':{'color':'green'}
                },
                fields:{
                    number:{selector:'#card-number'},
                    cvv:{selector:'#cvv'},
                    expirationDate:{selector:'#expiration-date'}
                }
            },function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr){
                    console.error(hostedFieldsErr);
                    return;
                }

                submit.removeAttribute('disabled');
                form.addEventListener('submit',function (event) {
                    event.preventDefault();

                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr){
                            console.error(tokenizeErr);
                            return;
                        }
                        //设置发送给服务器的nonce
                        document.getElementById('nonce').value = payload.nonce;
                        //提交表单
                        document.getElementById('payment').submit();
                    });

                },false);
            });
        });
    </script>
    -->
{% endblock %}



