{% extends 'shop/base.html' %}

{% block title %}
用信用卡支付
{% endblock %}

{% block content %}
    <h1>用信用卡支付</h1>
    <form action="." id="payment" method="post">
        <label for="card-number">信用卡号</label>
        <div id="card-number" class="field"></div>
        <label for="cvv">检查码</label>
        <div id="cvv" class="field"></div>
        <label for="expiration-date">有效日期</label>
        <div id="expiration-date" class="field"></div>

        <input type="hidden" id="nonce" name="payment_method_nonce" value="">{% csrf_token %}
        <input type="submit" value="支付">
    </form>
    <!-- 加载客户端需要的组件 -->
    <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
    <!--　加载Hosted Field组件 -->
    <script src="https://js.braintreegateway.com/web/3.29.0/js/hostedfields.min.js"></script>
    <script>
        var form = document.querySelector('#payment');
        var submit = document.querySelector('input[type="submit"]');

        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(clientErr);
                return;
            }

            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {'font-size': '13px'},
                    'input.invalid': {'color': 'red'},
                    'input.valid': {'color': 'green'}
                },
                fields: {
                    number: {selector: '#card-number'},
                    cvv: {selector: '#cvv'},
                    expirationDate: {selector: '#expiration-date'}
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                    console.error(hostedFieldsErr);
                    return;
                }

                submit.removeAttribute('disabled');

                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error(tokenizeErr);
                            return;
                        }
                        // set nonce to send to the server
                        document.getElementById('nonce').value = payload.nonce;
                        // submit form
                        document.getElementById('payment').submit();
                    });
                }, false);
            });
        });
  </script>


    <!--
    <script>
        var form = documet.querySelector('#payment');
        var submit = documet.querySelector('input[type="submit"]');

        braintree.client.create({
            authorization:'{{ client_token }}'
        },function (clientErr, clientInstance) {
            if (clientErr){
                console.error(clientErr);
                return;
            }

            braintree.hostedFields.create({
                client:clientInstance,
                style:{
                    'input':{'font-size':'13px'},
                    'input.invalid':{'color':'red'},
                    'input.valid':{'color':'green'}
                },
                fields:{
                    number:{selector:'#card-number'},
                    cvv:{selector:'#cvv'},
                    expirationDate:{selector:'#expiration-date'}
                }
            },function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr){
                    console.error(hostedFieldsErr);
                    return;
                }

                submit.removeAttribute('disabled');
                form.addEventListener('submit',function (event) {
                    event.preventDefault();

                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr){
                            console.error(tokenizeErr);
                            return;
                        }
                        //设置发送给服务器的nonce
                        document.getElementById('nonce').value = payload.nonce;
                        //提交表单
                        document.getElementById('payment').submit();
                    });

                },false);
            });
        });
    </script>
    -->
{% endblock %}



